<ion-content>
  <div class="container">
    <img src="assets/woman-elf.png" alt="Champion avatar" class="avatar" />
    
    <h1>IronForge</h1>
    <p class="subtitle">Your new workout best friend.</p>

    <a routerLink="/new-champion-1" class="custom-button success">
      Create a new champion
    </a>

    <a class="custom-button outline" routerLink="/login">
      I already have a champion
    </a>

    <h3 class="invite-code">Have an invite code?</h3>
    <p class="terms-and-privacy">By continuing, you agree to our Terms of Service and Privacy Policy</p>
  </div>
</ion-content>