<ion-content class="ion-padding">
  <div class="container">
    <img src="assets/champion-placeholder.png" alt="Champion avatar" class="avatar" />
    
    <h1>IronForge</h1>
    <p class="subtitle">Your new workout best friend.</p>

    <ion-button expand="block" color="success" routerLink="/new-champion-1">
      Create a new champion
    </ion-button>

    <ion-button expand="block" fill="outline" routerLink="/login">
      I already have a champion
    </ion-button>

    <p class="invite-code">Have an invite code?</p>
  </div>
</ion-content>
